* {
  font-family: 'Raleway', sans-serif;
}
header {
  display: grid;
}
body {
  border: none;
  display: grid;
  grid-template-columns: 15% 85%;
  height: 100%;
}
main {
  display: grid;
  grid-column: 2/2;
  grid-row: 1/2;
  height: 600px;
  width: 100%;
  grid-template-rows: 6% 22% 30% 100%;
  grid-template-columns: 100%;
}
nav {
  display: grid;
  grid-column: 1/2;
  grid-row: 1/2;
  height: 600px;
  width: 100%;
}
ul {
  list-style: none;
  padding-left: 0px;
}
a {
  text-decoration: none;
  color: #74C0EF;
}
button:focus {
  outline: none;
}
hr {
  height: 1px;
  background-color: #2D384A;
  border: none;
}
h2 {
  font-size: 13px
}
p{
  display: inline;
}

/*Navagation left-hand column*/

#nav-column {
  background-color: #354052;
  display: grid;
  height: 989px;
  grid-template-columns: 100%;
  grid-template-rows: 10% 18% 15% 10%;
}
.nav-profile {
  grid-area: 1/1/1/2;
}
.profile-pic-container {
  display: flex;
  justify-content: center;
}
.profile-pic {
  border-radius: 100px;
  height: 50px;
  margin: 0;
  width: 50px;
}
.matt-perry-text {
  margin: 10px 0 0 0;
  color: #A8B3C5;
  font-size: 10px;
}
.matt-perry-text:hover {
  color: white;
  cursor: pointer;
}
.fa-caret-down {
  margin-left: 5px;
}
.nav-main {
  grid-area: 2/1/2/2;
}
.nav-li {
  padding: 3px 0 3px 20px;
}
.main-heading {
  color: #636E82;
  font-size: 9px;
}
.main-text {
  color: #A8B3C5;
  font-size: 9px;
}
.main-i {
  margin-right: 5px;
}
.nav-admin {
  grid-area: 3/1/3/2;
}
.nav-categories {
  grid-area: 4/1/4/2;
}
.nav-list-btn:hover {
  background-color: #30394A;
  border-left: 2px solid #3FB0EF;
  cursor: pointer;
  color: white;
}
.sq1 {
  color: yellow;
}
.sq2 {
  color: blue;
}
.sq3 {
  color: red;
}
.sq4 {
  color: green;
}


#header-search {
  display: grid;
  height: 35px;
  grid-template-columns: 5% 4% 76% 5% 5% 5%;
  grid-template-rows: 100%;
  background-color: white;
  border-bottom: thin solid lightgrey;
}
.hamburger-arrow {
  border: none;
  background-color: white;
  color: #9A9FA5;
  grid-area: 1/1/2/2;
  border-right: thin solid lightgrey;
}
.fa-caret-left:before {
  font-size: 12px;
  color: #17A3FA;
  margin-right: 3px;
}
.fa-bars:before {
  color: #9A9FA5;
  display: flex;
  justify-content: center;
  font-size: 12px;
}
.mag-glass {
  border: none;
  color: #9A9FA5;
  background-color: white;
  grid-area: 1/2/2/3;
}
.search-bar {
  border: none;
  border-right: thin solid lightgrey;
  color: #9A9FA5;
  background-color: white;
  grid-area: 1/3/2/4;
}
.search-bar::placeholder {
  font-size: 10px;
  color: #C9C9D1;
  padding-bottom: 2px;
}
.icon-1 {
  color: #9A9FA5;
  background-color: white;
  grid-area: 1/4/2/5;
}
.icon-2 {
  color: #9A9FA5;
  background-color: white;
  grid-area: 1/5/2/6;
}
.icon-3 {
  color: #9A9FA5;
  background-color: white;
  grid-area: 1/6/2/6;
}
.all-btns {
  border: none;
  border-left: thin solid lightgrey;
  font-size: 12px;
  padding: 2px 2px 2px 2px;
}


#title-container {
  display: grid;
}
#title-info {
  display: grid;
  grid-template-rows: 70% 30%;
  grid-template-columns: 12% 12% 12% 12% 12% 12% 12% 16%;
  width: 100%;
}
.info-title-content {
  font-size: 8px;
  grid-area: 1/1/2/5;
  padding: 25px 25px;
}
.title-info-h1-text {
  font-size: 13px;
  color: #4e515e;
  font-weight: normal;
}
.title-info-p-text {
  font-size: 8px;
  color: #B7B8BC;
  font-weight: normal;
}
.title-info-dash {
  margin: 0 5px 0 5px;
}
.info-buttons-right {
  grid-area: 1/7/2/9;
  margin: auto;
  vertical-align: middle;
}
.fa-map-marker {
  color: #9A9FA5;
}
.info-btn-right {
  font-size: 8px;
  background-color: white;
  color: #9A9FA5;
  border-radius: 100px;
  height: 21px;
  width: 21px;
  margin: auto;
  border: 1px solid lightgrey;
}
.info-open-btn-right {
  font-size: 8px;
  background-color: white;
  border-radius: 100px;
  height: 21px;
  width: 53px;
  margin: auto;
  border: 1px solid lightgrey;
}
.fa-circle::before {
  color: #8DC94B;
  padding-right: 5px;
}
.info-btn-bottom-row-1 {
  grid-area: 2/1/3/2;
}
.info-btn-bottom-row-2 {
  grid-area: 2/2/3/3;
}
.info-btn-bottom-row-3 {
  grid-area: 2/3/3/4;
}
.info-btn-bottom-row-4 {
  grid-area: 2/4/3/5;
}
.info-btn-bottom-row-5 {
  grid-area: 2/5/3/6;
}
.info-btn-bottom-row-6 {
  grid-area: 2/6/3/7;
}
.info-btn-bottom-row-7 {
  grid-area: 2/7/3/8;
}
.info-btn-bottom-row-8 {
  grid-area: 2/8/3/9;
}
.info-bottom-btn {
  border: none;
  background-color: white;
  color: #9A9FA5;
  font-size: 8px;
}
.info-text {
  font-weight: bold;
  padding-bottom: 13px;
}
.info-text:hover {
  color: #354052;
  border-bottom: 3px solid #48B6F3;
  cursor: pointer;
}


#graph-container {
  height: 100%;
  background-color: #EDF2F6;
  display: grid;
  grid-template-rows: 75% 25%;
  grid-template-columns: 60% 40%;
}
.three-circle-graphs {
  grid-area: 1/1/2/2;
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  grid-template-rows: 100%;
  margin: auto;
}
.circle-graphs {
  height: 100px;
  width: 100px;
  margin: 0 20px 0 20px;
}
.cg1 {
  grid-area: 1/1/2/2;
}
.cg2 {
  grid-area: 1/2/2/3;
}
.cg3 {
  grid-area: 1/3/2/4;
}
.chart-graph {
  grid-area: 1/2/2/3;
  margin: auto;
}
.graph-style {
  height: 100px;
  width: 200px;
}
.circle-graph-btn {
  grid-area: 2/1/3/2;
  margin: 0 auto;
}
.chart-graph-btn {
  grid-area: 2/2/3/3;
  margin: 0 auto;
}
.graph-btn {
  font-size: 8px;
  background-color: #FCFEFF;
  border-radius: 100px;
  color: #86888C;
  height: 21px;
  margin-bottom: 0;
  border: 1px solid lightgrey;
}
.graph-btn-1 {
  width: 135px;
}
.graph-btn-2 {
  width: 100px;
}
.graph-btn:hover {
  background-color: #16A4FA;
  color: white;
  cursor: pointer;
}


#bottom-content-container {
  display: grid;
  display: grid;
  grid-template-columns: 65% 35%;
  grid-template-rows: 100%;
  margin: 20px 20px 0 20px;
}
.job-description-edit-button {
  background-color: #7C8BA6;
  border: none;
  background-repeat: no-repeat;
  background-position: 20% 50%;
  background-size: 10px;
  font-size: 10px;
  font-weight: bold;
  color: white;
  padding: 5px;
  width: 60px;
  height: 30px;
  border-radius: 3px;
  margin-left: 40%;
}
.edit-button-icon {
  height: 10px;
  margin-right: 5px;
}
.job-description-text-box-title {
  padding-left: 30px;
  border-bottom: 1px solid #637189;
}
.job-description-text-box-header {
  font-size: 12px;
  width: 125px;
}
.job-description-text-box-card {
  background-color: white;
}
.job-description-text-box-title,
.job-description-text-box-card {
  display: flex;
  align-items: center;
  padding: 10px 0 10px 0;
}
.card {
  border-bottom-left-radius: 10px;
}
.jd-title {
  font-size: 12px;
  font-weight: 700;
  margin-left: 30px;
  width: 140px;
  color: #6F7E95;
}
.job-description-body {
  font-size: 12px;
  margin-left: 30px;
  width: 70%;
  color: #354052;
  margin-right: 30px;
}
.jd-image-text {
  margin-left: 15px;
}
.job-description-text-box-title {
  background-color: #6F7E95;
  color: white;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.tom-lizzy {
  border-radius: 100px;
  height: 25px;
  width: 25px;
  margin-left: 35px;
}
.cell {
  border-bottom: 2px #eef2f5 solid;
}
.job-description-edit-button p {
  margin: 0;
  width: 140px;
}
.job-description-edit-button:hover {
  background-color: white;
  background-repeat: no-repeat;
  color: #7c8ba6;
}


#right-social {
  margin-left: 20px;
}
.social-media-btns {
  display: block;
}
.facebook-btn {
  background-image: url(images/icon-facebook-white.svg);
  background-size: 10px;
  background-repeat: no-repeat;
  background-position: 15%;
  background-color: #496ec1;
}
.facebook-btn:hover {
  background-color: white;
  color: #496ec1;
  background-image: url(images/icon-facebook-blue.svg);
  border: 2px #496ec1 solid;
  background-position: 14.5%;
  padding: 16px;
}
.facebook-logo {
  background-image: url(images/icon-facebook-white.svg);
}
.twitter-btn {
  background-image: url(images/icon-twitter-white.svg);
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: 15%;
  background-color: #02abf0;
}
.twitter-btn:hover {
  background-color: white;
  color: #02abf0;
  background-image: url(images/icon-twitter-blue.svg);
  border: 2px #02abf0 solid;
  background-position: 14.5%;
  padding: 16px;
}
.linkedin-btn {
  background-image: url(images/icon-linked-in-white.svg);
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: 15%;
  background-color: #0381bc;
  margin-bottom: 7px;
}
.linkedin-btn:hover {
  background-color: white;
  color: #0381bc;
  background-image: url(images/icon-linked-in-blue.svg);
  border: 2px #0381bc solid;
  background-position: 14.5%;
  padding: 16px;
}
.twitter-icon {
  margin-left: -16px;
}
.card-icon {
  height: 15px;
  margin-right: 6px;
}
.card-txt {
  background-color: #FFFDFE;
  height: 24px;
  border-radius: 3px;
  border: none;
  font-size: 12px;
  width: 100%;
  padding: 15px;
  text-overflow: ellipsis;
}
.media-btn {
  color: white;
  border: none;
  width: 100%;
  margin-bottom: 20px;
  padding: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
}
.web-card {
  padding-bottom: 10px;
  border-bottom: 2px #d2dae2 solid;
}
.card-btn-txt {
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.link-button {
  border: none;
  background-color: #47bac1;
  color: white;
  margin-top: 8px;
  height: 40px;
  width: 40px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.link-button:hover {
  background-color: #60dde5;
}
.web-card-txt {
  font-size: 10px;
  padding-bottom: 10px;
  color: #B8BDC3;
}
.all-btns:hover {
  background-color: #16A4FA;
  color: white;
  cursor: pointer;
}

/*@mixin for-phone-only {
  @media (max-width: 599px) { @content; }

}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }

}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }

}
@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }

}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }

}*/
