* {
  font-family: 'Raleway', sans-serif;
}
body {
  border: none;
  display: grid;
  grid-template-columns: 15% 85%;
  height: 100%;
}
nav {
  display: grid;
  grid-column: 1/2;
  grid-row: 1/2;
  background-color: red;
  height: 600px;
  width: 100%;
}
p{
  display: inline;
}
ul {
  list-style: none;
  padding-left: 0px;
}
hr {
height: 1px;
background-color: #2D384A;
border: none;
}
a {
  text-decoration: none;
  color: #74C0EF;
}
main {
  display: grid;
  grid-column: 2/2;
  grid-row: 1/2;
  height: 600px;
  width: 100%;
  grid-template-rows: 10% 22% 45% 100%;
  grid-template-columns: 100%;
}
header {
  display: grid;
}
button:focus {
  outline: none;
}
#nav-column {
  background-color: #354052;
  display: grid;
  height: 100vh;
  grid-template-columns: 100%;
  grid-template-rows: 17% 28% 25% 100%;
}
.main-heading {
  color: #636E82;
  font-size: 9px;
}
.nav-li {
  padding: 3px 0 3px 20px;
}
.nav-list-btn:hover {
  color: white;
  background-color: #30394A;
  cursor: pointer;
  border-left: 2px solid #3FB0EF;
}
.main-text {
  color: #A8B3C5;
  font-size: 9px;
}
.main-i {
  margin-right: 5px;
}
.nav-profile {
  grid-area: 1/1/1/2;
}
.profile {
  display: flex;
  justify-content: center;
  height: 130px;
}
.profile-pic-container {
  display: flex;
  justify-content: center;
}
.profile-pic {
  border-radius: 100px;
  height: 50px;
  margin: 0;
  width: 50px;
}
.matt-perry-text {
  margin: 10px 0 0 0;
  color: #A8B3C5;
  font-size: 10px;
}
.matt-perry-text:hover {
  color: white;
  cursor: pointer;
}
.fa-caret-down {
  margin-left: 5px;
}
.nav-main {
  grid-area: 2/1/2/2;
}
.nav-admin {
  grid-area: 3/1/3/2;
}
.nav-categories {
  grid-area: 4/1/4/2;
}
#header-search {
  display: grid;
  height: 35px;
  grid-template-columns: 5% 4% 76% 5% 5% 5%;
  grid-template-rows: 100%;
  background-color: white;
  border-bottom: thin solid lightgrey;
}
.fa-caret-left:before {
  font-size: 12px;
  color: #17A3FA;
  margin-right: 3px;
}
.fa-bars:before {
  color: #9A9FA5;
  display: flex;
  justify-content: center;
  font-size: 12px;
}
.search-bar {
  border: none;
  border-right: thin solid lightgrey;
  color: #9A9FA5;
  background-color: white;
  grid-area: 1/3/2/4;
}
.search-bar::placeholder {
  font-size: 10px;
  color: #C9C9D1;
  padding-bottom: 2px;
}
.icon-1 {
  color: #9A9FA5;
  background-color: white;
  grid-area: 1/4/2/5;
}
.icon-2 {
  color: #9A9FA5;
  background-color: white;
  grid-area: 1/5/2/6;
}
.icon-3 {
  color: #9A9FA5;
  background-color: white;
  grid-area: 1/6/2/6;
}
.hs-btn {
  border: none;
  border-right: thin solid lightgrey;
  font-size: 12px;
}
.hs-btn:hover {
  background-color: #16A4FA;
  color: white;
  cursor: pointer;
}
.mag-glass {
  border: none;
  color: #9A9FA5;
  background-color: white;
  grid-area: 1/2/2/3;
}
.hamburger-arrow {
  border: none;
  background-color: white;
  color: #9A9FA5;
  grid-area: 1/1/2/2;
  border-right: thin solid lightgrey;
}
.sq1 {
  color: yellow;
}
.sq2 {
  color: blue;
}
.sq3 {
  color: red;
}
.sq4 {
  color: green;
}
#title-container {
  display: grid;
}
#title-info {
  display: grid;
  grid-template-rows: 70% 30%;
  grid-template-columns: 12% 12% 12% 12% 12% 12% 12% 16%;
  width: 100%;
}
.title-info-h1-text {
  font-size: 13px;
  color: #4e515e;
  font-weight: normal;
}
.title-info-p-text {
  font-size: 8px;
  color: #B7B8BC;
  font-weight: normal;
}
.title-info-dash {
  margin: 0 5px 0 5px;
}
.fa-map-marker {
  color: #9A9FA5;
}
.info-title-content {
  font-size: 8px;
  grid-area: 1/1/2/5;
  padding: 25px 25px;
}
.info-buttons-right {
  grid-area: 1/7/2/9;
  margin: auto;
}
.info-btn-right {
  font-size: 8px;
  background-color: white;
  color: #9A9FA5;
  border-radius: 100px;
  height: 21px;
  width: 21px;
  margin: auto;
  border: 1px solid lightgrey;
}
.info-open-btn-right {
  font-size: 8px;
  background-color: white;
  border-radius: 100px;
  height: 21px;
  width: 53px;
  margin: auto;
  border: 1px solid lightgrey;
}
.fa-circle::before {
  color: #8DC94B;
  padding-right: 5px;
}
.info-btn-bottom-row-1 {
  grid-area: 2/1/3/2;
}
.info-btn-bottom-row-2 {
  grid-area: 2/2/3/3;
}
.info-btn-bottom-row-3 {
  grid-area: 2/3/3/4;
}
.info-btn-bottom-row-4 {
  grid-area: 2/4/3/5;
}
.info-btn-bottom-row-5 {
  grid-area: 2/5/3/6;
}
.info-btn-bottom-row-6 {
  grid-area: 2/6/3/7;
}
.info-btn-bottom-row-7 {
  grid-area: 2/7/3/8;
}
.info-btn-bottom-row-8 {
  grid-area: 2/8/3/9;
}
.info-bottom-btn {
  border: none;
  background-color: white;
  color: #9A9FA5;
  font-size: 8px;
}
.info-text {
  font-weight: bold;
  padding-bottom: 13px;
}
.info-text:hover {
  color: #354052;
  border-bottom: 3px solid #48B6F3;
  cursor: pointer;
}
#graph-container {
  display: grid;
  background-color: white;
  height: 100%;
}
#graphs {
  background-color: #EDF2F6;
  display: grid;
  grid-template-rows: 70% 30%;
  grid-template-columns: 60% 40%;
}
.three-circle-graphs {
  grid-area: 1/1/2/2;
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  grid-template-rows: 100%;
  margin: auto;
}
.circle-graphs {
  height: 100px;
  width: 100px;
  margin: 0 20px 0 20px;
}
.cg1 {
  grid-area: 1/1/2/2;
}
.cg2 {
  grid-area: 1/2/2/3;
}
.cg3 {
  grid-area: 1/3/2/4;
}
.chart-graph {
  grid-area: 1/2/2/3;
  margin: auto;
}
.graph-style {
  height: 100px;
  width: 200px;
}
.circle-graph-btn {
  grid-area: 2/1/3/2;
  margin: auto;
}
.chart-graph-btn {
  grid-area: 2/2/3/3;
  margin: auto;
}
.graph-btn {
  font-size: 8px;
  background-color: #FCFEFF;
  border-radius: 100px;
  color: #86888C;
  height: 21px;
  margin-bottom: 0;
  border: 1px solid lightgrey;
}
.graph-btn-1 {
  width: 135px;
}
.graph-btn-2 {
  width: 100px;
}
.graph-btn:hover {
  background-color: #16A4FA;
  color: white;
  cursor: pointer;
}
#bottom-content-container {
  display: grid;
  background-color: magenta;
}
#bottom-content {
  display: grid;
  grid-template-columns: 80% 20%;
  grid-template-rows: 100%;
}
.left-table {
  display: inline
  background-color: green;
  grid-area: 1/1/2/2;
}
.right-social {
  background-color: purple;
  grid-area: 1/2/2/3;
}







/*
body {
 margin: 0;
}
main {
  display: flex;
}
ul {
  list-style: none;
  padding-left: 20px;
}
hr {
height: 1px;
background-color: #2D384A;
border: none;
}
h1 {
  font-size: 15px;
}
textarea {
  font-size: 10px;
  height: 30px;
  width: 150px;
  white-space: pre;
  overflow: hidden;
  text-overflow: ellipsis;
}
span {
  margin-left: 30px;
}
.main-i {
  margin-right: 5px;
}
#left {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  height: 100%;
}
.article1 {
  width: 150px;
  height: 1051px;
  background-color: #354052;
}
.profile {
  display: flex;
  justify-content: center;
  height: 130px;
}
.profile-pic {
  border-radius: 100px;
  height: 50px;
  margin: 20px 0 0 0;
  width: 50px;
}
.matt-perry-text {
  color: #A8B3C5;
  font-size: 10px;
}
.matt-perry-text:hover {
  color: white;
}
.fa-caret-down {
  margin-left: 5px;
}
.name {
  margin: 5px 0 10px -20px;
}
.main {
  height: 150px;
}
.main-text {
  color: #A8B3C5;
  font-size: 10px;
  margin-top: 15px;
}
.main-text:hover {
  color: white;
  background-color: #30394A;
  cursor: pointer;
  border-left: 2px solid #3FB0EF;
}
.main-heading {
  color: #636E82;
  font-size: 10px;
}
.admin {
  height: 125px;
}
.categories {
  height: 200px;
}
.sq1 {
  color: yellow;
}
.sq2 {
  color: blue;
}
.sq3 {
  color: red;
}
.sq4 {
  color: green;
}
#right {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-self: flex-end;
  flex-direction: row;
  width: 100%;
  height: 100%;
}
.fa-caret-left {
  font-size: 10px;
  color: #17A3FA;
}
.fa-bars:before {
  display: flex;
  justify-content: center;
  font-size: 15px;
}
.bars {
  width: 40px;
  margin: 20px auto;
}
.verticle-line-bars {
  border-right: thin solid lightgrey;
  width: 50px;
  height: 100%;
}
.verticle-line-search {
  border-right: thin solid lightgrey;
  width: 670px;
  height: 100%;
}
.fa-search {
  margin: 0 5px 0 20px;
}
.search {
  margin: 14px 0 0 0px;
  width: 450px;
  border: none;
}
.verticle-line-add-profile {
  border-right: thin solid lightgrey;
  width: 50px;
  height: 100%;
}
.verticle-line-add-profile:hover {
  background-color: #16A4FA;
}
.verticle-line-add-calender {
  border-right: thin solid lightgrey;
  width: 50px;
  height: 100%;
}
.verticle-line-add-calender:hover {
  background-color: #16A4FA;
}
.verticle-line-apps {
  width: 50px;
  height: 100%;
}
.verticle-line-apps:hover {
  background-color: #16A4FA;
}
.nav-icon {
  font-size: 25px;
  margin: 10px 0 0 13px;
}
.article2 {
  display: flex;
  width: 100%;
  height: 50px;
  background-color: white;
  border-bottom: thin solid lightgrey;
}
.article3 {
  width: 100%;
  height: 150px;
  background-color: white;
}
.bottom-btns {

}
.bottom-btns:hover {
  border-bottom: 5px solid #3FB0EF;
}
.article4 {
  width: 100%;
  height: 300px;
  background-color: #EDF2F6;
}
/*Graphs*/
/*
.circle-graphs {
  margin-top: 25px;
  width: 100%;
}
.circle-graph-1 {
  display: inline;
  height: 150px;
  margin-left: 25px;
  width: 150px;
}
.circle-graph-2 {
  display: inline;
  height: 150px;
  margin-left: 20px;
  width: 150px;
}
.circle-graph-3 {
  display: inline;
  height: 150px;
  margin-left: 20px;
  width: 150px;
}
.graph {
  display: inline;
  height: 150px;
  margin-left: 25px;
  width: 300px;
}
.bottom-line {
  border-left: thin solid lightgrey;
}
.article5 {
  display: inline-flex;
  width: 100%;
  height: 500px;
  background-color: #EDF2F6;
}
.job-description {
  height: 500px;
  width: 550px;
}
.vertical-line-job {
  border-right: thin solid lightgrey;
}
.cell-job-description {
  height: 30px;
  width: 100px;
  border: none;
}
.table-top {
  background-color: #6F7E95;
}
.social-btns {
  height: 550px;
  width: 200px:
}
.btn {
  color: white;
  width: 200px;
  height: 40px;
}
.twitter {
  margin: 10px 0 10px 0;
}
.facebook {
  background-color: #4C72C3;
}
.twitter {
  background-color: #01AAEF;
}
.linkedin {
  background-color: #0382BC;
}
.job-links-ul {
  height: 130;
  width: 200px;
}
.job-link-text {
  font-size: 10px;
}
.fa-globe {
  margin-right: 5px;
}
.copy-btn {
 background-color: #46B7C1;
 height: 30px;
 width: 44px;

}
.txt-area-no-copy {
  width: 194px;
}
.tom-lizzy {
  border-radius: 100px;
  height: 15px;
  width: 15px;
}
@media only screen and (min-width : 320px) and (max-width : 480px) {
  #left {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: 100%;
  }
  #right {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-self: flex-end;
    flex-direction: row;
    width: 100%;
    height: 100%;
  }
}*/
/*Media query for large screens*/
/*Media query for medium screen break*/
/*Media query for small screen, but bigger than phone*/
