* {
  font-family: 'Raleway', sans-serif;
}

html {
  width: 100%;
  height: 100vh;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 15% 85%;
  grid-template-rows: 50px ;
}

main {
  background-color: var(--main-light-grey);
}

.uppercase {
  text-transform: uppercase;
}

button {
  transition: background-color 0.4s ease;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}

button:hover {
  transition: background-color 0.4s ease;
}



/* HEADER */

header {
  grid-area:  1 / 2 / 2 / 2;

  display: grid;
  width: 100%;

  grid-template-columns: 6.25% auto 6.25% 6.25% 6.25%;
  grid-template-rows: 100%;

  border-bottom: 2px #e4e6ea solid;
}

.header-button {
  border: none;
  background-color: white;
  border-left: 2px #e4e6ea solid;
}

.header-button:hover {
  background-color: var(--light-blue);
}

.header-button-icon {
  height: 22px;
}

.header-hamburger-container {
  grid-area: 1 / 1 / 2 / 2;

  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
}

.search-bar-container {
  grid-area: 1 / 2 / 2 / 3;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  width: 100%;
}

.search-bar-hamburger-button{
  background-image: url(images/icons/icon-hamburger-grey-with-blue-triangle.svg);
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-left: 2px solid #e4e6ea;
  height: 100%;
  width: 100%
}

.search-bar-hamburger-button:hover{
  background-image: url(images/icons/icon-hamburger-with-triangle-white.svg);
  border-right:2px #149aea solid;
  border-left: 2px #149aea solid;
}

.header-add-job-button {
  background-image: url(images/icons/icon-add-job-grey.svg);
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.header-add-job-button:hover {
  background-image: url(images/icons/icon-add-job-white.svg);
  border-right:2px #149aea solid;
  border-left: 2px #149aea solid;
}

.header-add-to-calendar-button {
  background-image: url(images/icons/icon-add-task-grey.svg);
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  cursor: pointer;
}
.header-add-to-calendar-button:hover {
  background-image: url(images/icons/icon-add-task-white.svg);
  border-right:2px #149aea solid;
  border-left: 2px #149aea solid;
}

.header-show-grid-button {
  background-image: url(images/icons/icon-grid-grey.svg);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.header-show-grid-button:hover {
  background-image: url(images/icons/icon-grid-white.svg);
  border-right:2px #149aea solid;
  border-left: 2px #149aea solid;
}

.header-search-bar-input {
  font-weight: 300;
  font-size: 16px;
  width: 100%;
}

input[type="text"]{
  padding-left: 5%;
  background-image:url(images/icons/icon-search-grey.svg);
  background-repeat:no-repeat;
  background-position: 2% 45%;
  background-size: 18px;
}


.header-add-job-container {
  grid-area: 1 / 3 / 2 / 4;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
}

.header-add-to-calendar-container {
  grid-area: 1 / 4 / 2 / 5;

  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
}

.header-show-grid-container {
  grid-area: 1 / 5 / 2 / 6;

  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
}








/*body {
 margin: 0;
}
main {
  display: flex;
}
ul {
  list-style: none;
  padding-left: 20px;
}
hr {
height: 1px;
background-color: #2D384A;
border: none;
}
h1 {
  font-size: 15px;
}
textarea {
  font-size: 10px;
  height: 30px;
  width: 150px;
  white-space: pre;
  overflow: hidden;
  text-overflow: ellipsis;
}
span {
  margin-left: 30px;
}
.main-i {
  margin-right: 5px;
}
#left {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  height: 100%;
}
.article1 {
  width: 150px;
  height: 1051px;
  background-color: #354052;
}
.profile {
  display: flex;
  justify-content: center;
  height: 130px;
}
.profile-pic {
  border-radius: 100px;
  height: 50px;
  margin: 20px 0 0 0;
  width: 50px;
}
.matt-perry-text {
  color: #A8B3C5;
  font-size: 10px;
}
.matt-perry-text:hover {
  color: white;
}
.fa-caret-down {
  margin-left: 5px;
}
.name {
  margin: 5px 0 10px -20px;
}
.main {
  height: 150px;
}
.main-text {
  color: #A8B3C5;
  font-size: 10px;
  margin-top: 15px;
}
.main-text:hover {
  color: white;
  background-color: #30394A;
  cursor: pointer;
  border-left: 2px solid #3FB0EF;
}
.main-heading {
  color: #636E82;
  font-size: 10px;
}
.admin {
  height: 125px;
}
.categories {
  height: 200px;
}
.sq1 {
  color: yellow;
}
.sq2 {
  color: blue;
}
.sq3 {
  color: red;
}
.sq4 {
  color: green;
}
#right {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-self: flex-end;
  flex-direction: row;
  width: 100%;
  height: 100%;
}
.fa-caret-left {
  font-size: 10px;
  color: #17A3FA;
}
.fa-bars:before {
  display: flex;
  justify-content: center;
  font-size: 15px;
}
.bars {
  width: 40px;
  margin: 20px auto;
}
.verticle-line-bars {
  border-right: thin solid lightgrey;
  width: 50px;
  height: 100%;
}
.verticle-line-search {
  border-right: thin solid lightgrey;
  width: 670px;
  height: 100%;
}
.fa-search {
  margin: 0 5px 0 20px;
}
.search {
  margin: 14px 0 0 0px;
  width: 450px;
  border: none;
}
.verticle-line-add-profile {
  border-right: thin solid lightgrey;
  width: 50px;
  height: 100%;
}
.verticle-line-add-profile:hover {
  background-color: #16A4FA;
}
.verticle-line-add-calender {
  border-right: thin solid lightgrey;
  width: 50px;
  height: 100%;
}
.verticle-line-add-calender:hover {
  background-color: #16A4FA;
}
.verticle-line-apps {
  width: 50px;
  height: 100%;
}
.verticle-line-apps:hover {
  background-color: #16A4FA;
}
.nav-icon {
  font-size: 25px;
  margin: 10px 0 0 13px;
}
.article2 {
  display: flex;
  width: 100%;
  height: 50px;
  background-color: white;
  border-bottom: thin solid lightgrey;
}
.article3 {
  width: 100%;
  height: 150px;
  background-color: white;
}
.bottom-btns {

}
.bottom-btns:hover {
  border-bottom: 5px solid #3FB0EF;
}
.article4 {
  width: 100%;
  height: 300px;
  background-color: #EDF2F6;
}
/*Graphs*/
.circle-graphs {
  margin-top: 25px;
  width: 100%;
}
.circle-graph-1 {
  display: inline;
  height: 150px;
  margin-left: 25px;
  width: 150px;
}
.circle-graph-2 {
  display: inline;
  height: 150px;
  margin-left: 20px;
  width: 150px;
}
.circle-graph-3 {
  display: inline;
  height: 150px;
  margin-left: 20px;
  width: 150px;
}
.graph {
  display: inline;
  height: 150px;
  margin-left: 25px;
  width: 300px;
}
.bottom-line {
  border-left: thin solid lightgrey;
}
.article5 {
  display: inline-flex;
  width: 100%;
  height: 500px;
  background-color: #EDF2F6;
}
.job-description {
  height: 500px;
  width: 550px;
}
.vertical-line-job {
  border-right: thin solid lightgrey;
}
.cell-job-description {
  height: 30px;
  width: 100px;
  border: none;
}
.table-top {
  background-color: #6F7E95;
}
.social-btns {
  height: 550px;
  width: 200px:
}
.btn {
  color: white;
  width: 200px;
  height: 40px;
}
.twitter {
  margin: 10px 0 10px 0;
}
.facebook {
  background-color: #4C72C3;
}
.twitter {
  background-color: #01AAEF;
}
.linkedin {
  background-color: #0382BC;
}
.job-links-ul {
  height: 130;
  width: 200px;
}
.job-link-text {
  font-size: 10px;
}
.fa-globe {
  margin-right: 5px;
}
.copy-btn {
 background-color: #46B7C1;
 height: 30px;
 width: 44px;

}
.txt-area-no-copy {
  width: 194px;
}
.tom-lizzy {
  border-radius: 100px;
  height: 15px;
  width: 15px;
}
@media only screen and (min-width : 320px) and (max-width : 480px) {
  #left {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: 100%;
  }
  #right {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-self: flex-end;
    flex-direction: row;
    width: 100%;
    height: 100%;
  }
}*/
/*Media query for large screens*/
/*Media query for medium screen break*/
/*Media query for small screen, but bigger than phone*/
